a {
  text-decoration: none;

}
nav {
  position: absolute;
  left: 0px;
  top: 0px;
  min-height:100vh;
  width: 20%;

  display: inline-block;

  background-color: var(--achtergrond_kleur_nav)
}

nav > a{
  color: var(--nav_link_kleur);
  min-width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: center;

  font-size: 30px;
  margin: 5px;

  background-color: var(--achtergrond_kleur_a);
  border: solid 3px var(--border_kleur_a);
  border-radius: 10px;
  height: 36px;
  transition: all ease-in-out .2s;
}

nav > a:hover {
  height: 54px;
}
